.error {
    color: black;
    background: palevioletred;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 30px;
}
.notification {
    color: black;
    background: paleturquoise;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 30px;
}